@import "tailwindcss";
@source "../public";

@theme {
  --color-emerald-50: #f6f7ef;
  --color-emerald-100: #eceedc;
  --color-emerald-200: #d4d7b8;
  --color-emerald-300: #b8bd8f;
  --color-emerald-400: #969c67;
  --color-emerald-500: #7b7f4c;
  --color-emerald-600: #676a3e;
  --color-emerald-700: #555735;
  --color-emerald-800: #45472d;
  --color-emerald-900: #383a27;
}
